<!DOCTYPE html>
<html>
  <head>
    <title>ParkingReservation</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>
    <footer>
	<hr>
		<p class="text-muted">Kod źródłowy dostępny dla wszystkich na <a href="https://github.com/ljruby">github.com/ljruby</a></p>
</footer>
  </body>
</html>
